#buttons{
    margin-left:25%;
    margin-right:25%;
    margin-top:20px;
    background-color: red;
}
#buttons > button{
    color:black;
    background-color: aqua;
    height: 50px;
    width:200px;
    border-radius: 10%;
    margin:10px;
}
body{
    background-color: black;
}